---
import { markdownify } from "@/lib/utils/textConverter";
import ImageMod from "./ImageMod.astro";

const { delay, slug, data } = Astro.props;
const { title, image, short_description } = data;
---

<div
  data-aos="zoom-out-sm"
  data-aos-delay={delay < 3 ? delay * 100 : (delay - 3) * 100}>
  <div
    class="bg-theme-light hover:bg-white hover:shadow transition-all duration-300 p-5 md:p-8 relative">
    {
      image && (
        <ImageMod src={image} alt="Shape" width={72} height={72} class="mb-4" />
      )
    }
    {
      title && (
        <h3 class="text-base font-medium mb-3">
          <a
            href={`/integration/${slug}/`}
            class="mb-4 text-h6 link-card"
            set:html={markdownify(title)}
          />
        </h3>
      )
    }
    {
      short_description && (
        <p
          class="text-base-sm font-medium"
          set:html={markdownify(short_description)}
        />
      )
    }
  </div>
</div>
