<article class="p-4 group border">
  <div>
    <a href="#" class="inline-block w-full relative border">
      <img
        src="@@img-src"
        alt="A Blog Post"
        width="393"
        height="300"
        class="w-full object-cover"
      />
    </a>
  </div>
  <div class="p-4 pb-0">
    <a href="#" class="inline-block text-h6 text-dark font-bold leading-snug">
      @@title</a
    >
    <span
      class="bg-dark/10 px-3 py-1 text-xs text-dark inline-block my-4 self-start"
    >
      March 11, 2022
    </span>
    <p class="text-sm mb-3 md:mb-4 text-dark/50">
      We Collect Certain Identifying Personal Up Tos Our As Your Name, Email
      Address, Paypal Address.
    </p>
  </div>
</article>
