//debug
.debug * {
  outline: 1px solid rgba(255, 0, 0, 0.3);
  position: relative;
}

.debug *:hover {
  outline-color: rgba(255, 0, 0, 1);
}

.debug *::before {
  content: attr(class);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
}

// Marquee
.marquee-container {
  .marquee-wrapper {
    animation: marquee 50s linear infinite;
    &.reverse {
      animation: marquee 50s linear infinite reverse;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translate(calc(-100% - 8rem));
  }
}

// Swiper
// swiper pagination
.swiper-pagination-bullet {
  @apply h-2 w-4 md:w-20 bg-light/20 opacity-100 rounded-none;

  &-active {
    @apply h-2 w-4  md:w-20 bg-primary rounded-none;
  }
}

// section style
.section {
  @apply py-10 md:py-20 xl:py-28; // MAX-140
  &-sm {
    @apply py-8 md:py-16 xl:py-20; // MAX-100
  }
}

.middle > * {
  vertical-align: middle;
}

// container
.container {
  @apply mx-auto max-w-[1660px] px-4 md:px-6;

  &-sm {
    @apply mx-auto max-w-[1360px] px-2 md:px-4;
  }
  &-inner {
    @apply py-14 xl:px-20 xl:pt-20 xl:pb-20 2xl:px-28 2xl:pt-28 2xl:pb-28;
  }
  &-light {
    @apply mx-auto max-w-[1600px] p-4 py-12 xl:px-28 xl:pt-28 xl:pb-24 bg-theme-light;
  }
}

// form style
.form-input {
  @apply w-full border-transparent bg-theme-light px-5 py-3 lg:px-6 lg:py-4 text-dark placeholder:text-light focus:border-primary focus:ring-transparent text-base-sm;
}

.form-label {
  @apply mb-3 block font-secondary text-base-sm font-normal text-dark;
}

// social icons
.social-icons {
  @apply flex items-center gap-4 lg:gap-7 text-xl;
  li {
    @apply inline-block;
    a {
      @apply bg-theme-light/10 hover:bg-theme-light/5 w-10 h-10 rounded-full grid place-items-center;
      svg {
        @apply h-5 w-5;
      }
    }
  }
}

// notice
.notice {
  @apply mb-6 rounded-lg border px-8 py-6;
  &-head {
    @apply flex items-center;
    svg {
      @apply mr-3;
    }
    p {
      @apply font-secondary text-xl font-semibold text-dark;
    }
  }
  &-body {
    @apply mt-3;
    p {
      @apply my-0;
    }
  }

  &.note {
    @apply text-[#1B83E2];
    @apply border-current;
  }

  &.tip {
    @apply text-[#40D294];
    @apply border-current;
  }

  &.info {
    @apply text-[#E3A72C];
    @apply border-current;
  }

  &.warning {
    @apply text-[#DB2C23];
    @apply border-current;
  }
}

// tab
.tab {
  @apply overflow-hidden rounded-lg border border-border;
  &-nav {
    @apply flex border-b border-border bg-theme-light;
    @apply m-0 #{!important};
    @apply list-none #{!important};

    &-item {
      @apply cursor-pointer border-b-[3px] border-border py-2 text-lg text-dark opacity-80 font-semibold;
      @apply my-0 #{!important};
      @apply px-8 #{!important};

      &.active {
        @apply border-b-[3px] border-dark opacity-100;
      }
    }
  }
  &-content {
    &-panel {
      @apply hidden p-8;
      p {
        @apply mb-0;
      }
      &.active {
        @apply block;
      }
    }
  }
}

.c-tab {
  @apply text-dark;
  &-nav {
    @apply p-2;
    @apply m-0 #{!important};
    @apply list-none #{!important};

    &-item {
      @apply px-4 lg:px-7 py-3  flex items-center gap-x-3 cursor-pointer;
      @apply my-0 #{!important};
      @apply #{!important};

      &-icon {
        @apply bg-primary w-10 h-10 grid place-items-center rounded-full;
      }
      &-text {
        @apply font-bold text-dark text-base-sm;
      }

      &.active {
        @apply bg-primary;
        .c-tab-nav-item-icon {
          @apply bg-dark text-primary;
        }
      }
    }
  }
  &-content {
    &-panel {
      @apply hidden;
      p {
        @apply mb-0;
      }
      &.active {
        @apply block;
      }
    }
  }
}

// accordion
.accordion {
  @apply mb-5 overflow-hidden bg-white shadow;
  &-header {
    @apply w-full cursor-pointer px-6 py-4 text-left relative;
    span {
      @apply mr-6 inline-block text-base text-dark  font-bold;
    }
  }
  &-icon {
    @apply w-5 h-5 border-dark border-2 grid place-items-center rounded-full min-w-max absolute right-4 top-1/2 -translate-y-1/2;
  }
  &-content {
    @apply max-h-0 overflow-hidden text-base-sm px-6 py-0;
  }
  &.active {
    .accordion-icon {
      div:first-child {
        @apply hidden;
      }
    }
    .accordion-content {
      @apply max-h-screen pb-4;
    }
  }
}

// modal
.modal {
  @apply fixed inset-0 z-40 hidden h-full w-full overflow-auto;
  &-overlay {
    @apply fixed inset-0 z-40 hidden h-full w-full bg-black bg-opacity-40;
  }
  &-content {
    @apply relative top-1/2 z-50 mx-auto max-w-[90%] -translate-y-1/2  bg-body p-8;
  }
  &-close {
    @apply absolute right-3 top-3 h-8 w-8 rounded-full bg-theme-light text-center leading-8 text-dark;
  }
}

// content style
.content {
  @apply prose max-w-none;
  @apply prose-headings:mb-[.3em] prose-headings:mt-[.4em] prose-headings:text-dark;
  @apply prose-h1:text-h1-sm md:prose-h1:text-h1;
  @apply prose-h2:text-h2-sm md:prose-h2:text-h2;
  @apply prose-h3:text-h3-sm md:prose-h3:text-h3;
  @apply prose-img:max-w-full prose-img:rounded;
  @apply prose-hr:border-border;
  @apply prose-p:text-[18px] prose-p:text-text;
  @apply prose-blockquote:border-l-[2px] prose-blockquote:border-primary prose-blockquote:bg-theme-light prose-blockquote:p-10 prose-blockquote:lg:px-20 prose-blockquote:lg:py-10 prose-blockquote:leading-snug prose-blockquote:font-secondary prose-blockquote:text-h6 prose-blockquote:not-italic prose-blockquote:text-dark/80;
  @apply prose-pre:rounded-lg prose-pre:bg-theme-light;
  @apply prose-code:px-1 prose-code:text-primary;
  @apply prose-strong:text-dark;
  @apply prose-a:text-text prose-a:underline hover:prose-a:text-primary;
  @apply prose-li:text-text text-[18px];
  @apply prose-table:relative prose-table:overflow-hidden prose-table:rounded-lg prose-table:before:absolute prose-table:before:left-0 prose-table:before:top-0 prose-table:before:h-full prose-table:before:w-full prose-table:before:rounded-[inherit] prose-table:before:border prose-table:before:content-[""];
  @apply prose-thead:border-border prose-thead:bg-theme-light;
  @apply prose-th:relative prose-th:z-10 prose-th:px-4 prose-th:py-[18px] prose-th:text-dark;
  @apply prose-tr:border-border;
  @apply prose-td:relative prose-td:z-10 prose-td:px-3 prose-td:py-[18px];

  blockquote {
    @apply prose-p:font-medium;
  }

  .btn {
    @apply no-underline #{!important};
  }

  & > *:last-child {
    @apply mb-0;
  }
}

// HOMEPAGE
.our-tools {
  @apply relative;
  &::before {
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.8855917366946778) 56%,
      rgba(255, 255, 255, 0) 100%
    );
    @apply absolute inset-y-0 left-0 w-5 md:w-20 h-full z-10;
  }
  &::after {
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8855917366946778) 45%,
      rgba(255, 255, 255, 1) 100%
    );
    @apply absolute inset-y-0 right-0 w-5 md:w-20 h-full z-10;
  }
}

// PAGE HEADER
.page-header-title {
  @apply relative max-md:text-h1-sm inline-block max-w-[900px];

  &::before {
    content: "";
    @apply absolute top-1/2 -translate-y-1/2 -left-16 lg:-left-24 hidden lg:block  lg:w-20 h-1 bg-theme-dark/20;
  }
  &::after {
    content: "";
    @apply absolute top-1/2 -translate-y-1/2 -right-16 lg:-right-24 hidden lg:block  lg:w-20 h-1 bg-theme-dark/20;
  }
}

// YOUTUBE IFRAME
.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

// YT WITH THUMBNAIL
.yt-container {
  @apply relative max-w-[1200px];
}

#yt-custom-thumb {
  @apply mx-auto;
}

#yt-iframe {
  @apply absolute top-0 left-0 w-full h-full;
}

// Table
.pricing-table {
  @apply w-full;
  thead {
    tr {
      @apply border-b flex flex-col items-start w-full  md:table-row;

      th:first-child {
        @apply font-bold text-dark lg:pl-12 text-lg text-start;
      }
      th:nth-child(3) {
        @apply md:bg-theme-light;
      }
      th {
        @apply py-2 md:py-8 text-center text-dark md:text-base lg:text-h6 border-y md:border-y-0 w-full md:w-auto md:table-cell flex flex-row-reverse justify-between items-start font-bold;
        br {
          @apply hidden md:block;
        }
        span {
          @apply font-normal;
        }
      }
    }
  }

  tbody {
    tr {
      @apply border-b flex flex-col items-start w-full md:table-row;

      td:first-child {
        @apply font-bold text-left text-dark lg:pl-12 py-4 text-lg before:hidden justify-start items-center gap-x-1.5;
      }
      td:nth-child(3) {
        @apply font-bold md:bg-theme-light;
      }
      td {
        @apply py-2 md:py-8 md:text-center text-dark md:text-base lg:text-h6 border-y md:border-y-0 w-full md:w-auto relative text-right;
        @apply max-md:flex max-md:justify-between max-md:gap-x-4;

        svg {
          @apply ml-auto md:mx-auto;
        }
        span > i {
          @apply md:hidden mr-1;
        }
        &::before {
          content: attr(data-label);
          @apply md:hidden;
        }
      }
    }
    tr:last-child {
      @apply border-b-transparent;
    }
  }
}

// DIVIDER
.split-divider {
  @apply text-center w-full relative -z-10;
  &::before {
    content: "";
    @apply w-full h-[1px] absolute left-0 top-1/2 -translate-y-1/2 bg-theme-dark/60;
  }
}

.footer-ul > li > a {
  @apply hover:text-white transition-colors;
}

.has-link a {
  @apply text-primary hover:no-underline underline;
}

.has-highlight-text strong {
  @apply text-primary font-normal;
}

.link-card {
  &::before {
    content: "";
    @apply absolute inset-0 cursor-pointer;
  }
}
